python-dotenv
fastapi[standard]
aiofiles
aiohttp
orjson
pyarrow
requests
dask[dataframe]
qdrant-client
voyageai
pandas
numpy
gradio-client
pydantic
argparse
instagrapi
sentencepiece
nomic
transformers
torch
beautifulsoup4
gunicorn
gunicorn
motor